.assistant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: #212121;
  color: #FFFFFF;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 100%;
  padding: .5rem;
  font-size: 15px;
  border: 1px solid darkgray;
  overflow-y: scroll;
}

.messages {
  display: flex;
  flex-direction: column;
}

.messages li {
  display: flex;
  min-height: 2rem;
  align-items: center;
  padding: 1rem .5rem;
  overflow: clip;
}

.messages li+li {
  border-top: 1px solid gray;
}

.user {
  
}

.user p {
  background-color: #303030;
  padding: .5rem 1rem;
  border-radius: 20px;
  width: fit-content;
}
.assistant {
}

.input {
  background-color: #40414F;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  border-radius: 20px;
  padding: .5rem;
}

.inputField {
  height: 100%;
  width: 100%;
  font-size: 15px;
  background-color: transparent;
  color: white;
  border: none;
}

.inputField::placeholder {
  color: #A9A9A9;
  opacity: .8;
}

.inputField:focus {
  outline: none;
}

.inputButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem; /* Add a small gap between the buttons */
}

.inputButtons button,
.inputButtons input
.inputButtons label {
  cursor: pointer;
  flex: 1;
  border-radius: 50%; /* Make it circular */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray; /* Optional: Add a border */
  background-color: #40414F; /* Optional: Set a background color */
  color: white; /* Optional: Set text/icon color */
  padding: .75rem
}
/* transition: all .2s ease-in-out; */



.upload {
  color: black;
  opacity: 1;
  color: white;
}

.human {
  background-color: rgb(78, 78, 78);
  padding: .5rem 1rem;
  border-radius: 20px;
}

.ai {
}