.customizations {
  flex: 1;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  background-color: #2d2d2de1;
  align-items: center;
}

.lightTheme {
  background-color: antiquewhite;
  color: black;
}

.customizationBtn {
  width: 50%;
  height: 3rem;
}

