.navbar {
  display: flex;
  height: 6%;
  width: 100%;
  padding: 0;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  color: white
}

.lightTheme {
  background-color: antiquewhite;
  color: black;
}

.container {
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.placeholder {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  justify-self: center;
}

.account {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.newThreadbtn {
  cursor: pointer;
}

.threadSelect {
  cursor: pointer;
}

.threadSelect:hover {
  background-color: lightgray; /* darker shade */
}

.login {
  height: 100%;
  width: fit-content;
  display: flex;
  
}

.login > button {
  cursor: pointer;
}

.logout {
  cursor: pointer;
}


