  .SideThreadSelect {
    border: 1px solid gray;
    position: absolute;
    right: 0;
    width: 10rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .SideThreadToggleBtn {

  }

  .SideThreadList {
    border: 1px solid gray;;
  }