.workspace {
  flex: 1;
  /* background-color: 	#2d2d2de1;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; */
}

.lightTheme {
  background-color: antiquewhite;
  color: black;
}

.content {
  background-color: #2d2d2de1;
  height: 90%;
  width: 90%;
  margin: auto;
  border: 1px solid black;
}

.uploadbtn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 15%;
}

.uploadbtn:hover {
  background-color: #0056b3;
}